img{
    width:900px;
    height:900px;
}
body{
    text-align:center;
    background: linear-gradient(red 0%, yellow 100%);
    font-family: cursive;
}
h1{;
 color:#03A9F4;
 font-size:100px;
}
h2{
 color:#FFD600;
 font-size:80px;
}
h3{
    color:#76FF03;
    font-size:50px;
}
h4{
    color:#F9FBE7;
    font-size:50px;
}
h5{
    color:#FF3D00;
    font-size:50px;
}
h6{
    font-family: cursive;
    color:#6200EA;
    font-size:50px;
    }